.footer{
  background: linear-gradient(180deg, #0A2850 0%, #071931 100%);
}

.footer__content{
  display: flex;
  flex-direction: row;
  padding: 60px 100px 0 80px;
  justify-content: space-between;
}

.footer__logo{
  color: #fff;
  width: 105px;
  height: 39px;
}

.footer__social-heading{
  display: flex;
  justify-content: center;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  margin: 0;
  padding-bottom: 20px;
}

.footer__list{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0;
  color: #fff;
  gap: 16px;
  margin: 0;
}

.footer__list-item{
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  list-style-type: none;

}

.footer__social-icon{
  height: 16px;
  width: 16px;
}

.footer__social-link{
  color: initial;
  transition: color 0.3s ease-in-out;
  gap: 10px;
}

.footer__social-link:hover{
  color: #c1c1c1;
}

.footer__copyright{
  display: flex;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  margin: 0;
  padding: 108px 0 60px 80px;
}