.header{
  padding: 30px 80px 40px;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: url(../images/background_header.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;

}

.header__image{
  top: 124px;
  position: absolute;
  height: 568px;
  width: 646px;
  right: 5px;
}

.header__title{
  max-width: 729px;
  margin: 183px 0 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
  z-index: 1;

}

.header__description{
  font-family:"Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 683px;
  margin: 28px 0 0;
  z-index: 1;


}

.header__span-accent{
  display: block;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2F80ED;
}

.header__footer{
  display: flex;
  flex-direction: row;
  margin-top: auto;
  position: relative;
  justify-content: space-between;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383
}

.header__paragraph{
  align-self:flex-end;
  margin: 0;
}
