.recipes {
  padding: 100px 80px 215px;
  font-family: "Inter", Arial, sans-serif;
  background: url(../images/background_recipes.svg);
  background-color: #0a2750;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;


}

.recipes__videos{
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
  border: none;
}

.recipes__title{
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 580px;
  color: #fff;
  margin: 0;

}

.recipes__subtitle{
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  max-width: 438px;
  margin: 0;
  padding-top: 24px;
  padding-bottom: 80px;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  margin: 0;
  padding-top: 24px;
}

.recipes__iframe{
  width: 483px;
  height: 273px;
  border: 0;
}