.reservation__title{
  margin: 0 0 80px;
  text-align: center;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  padding: 100px;

}

.reservation{
  background: url(../images/background_reservation.svg);
  background-color: #D9E7FF;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  margin: 0;

}

.reservation__form{
  margin: 0 auto;
  max-width: 385px;
}
